.the-images {
  display: flex;
  justify-content: center;
  align-items: center;
}

.human,
.machine {
  position: relative;
  max-width: 720px;
  margin-bottom: 10%;
}

.counter-container {
  text-align: center;
}
