@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap");

.the-images {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15%;
}

.the-icons {
  position: absolute;
  z-index: 2;
  top: 600px;
}
.human,
.machine {
  position: absolute;
  max-width: 720px;
  border: 2px solid rgb(157, 224, 255);
  border-radius: 5%;
  box-shadow: 0 0 100px rgba(79, 208, 251, 0.618);
  top: 25%;
}
.tick {
  color: rgb(2, 235, 2);
}
.cross {
  color: red;
}

.tick,
.cross {
  z-index: 1;
  font-size: 350px;
  animation: fadeOut 0.7s ease-out;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.counter-container {
  position: relative;
  text-align: center;
  top: -20px;
}
.confetti {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#counter {
  font-family: "Dosis", sans-serif;
  font-size: 35px;
}
.buttons {
  position: relative;

  margin-bottom: 20%;
}

#humanButton,
#resetButton {
  margin-right: 13%;
}
#resetButton {
  right: -2%;
}
#humanButton {
  margin-left: 2%;
}

#humanButton,
#resetButton,
#aiButton {
  position: relative;
  top: -30px;
  max-width: 400px;
  cursor: pointer;
}
#title {
  background-color: rgba(0, 0, 0, 0.767);

  width: max-content;
  position: relative;
}
#title::before,
#title::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#title::before {
  background-color: rgb(0, 0, 0);
  animation: typewriter 2s steps(13) forwards;
}
#title::after {
  width: 0.124em;
  background: rgb(255, 255, 255);
  animation: typewriter 2s steps(13) forwards, blink 950ms steps(13) infinite;
}
