@import url("https://fonts.googleapis.com/css2?family=Bad+Script&display=swap");

body {
  color: white;
}

.icons:last-child {
  right: 0;
}
.carousel-container {
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 60px;
  z-index: 10;
}
.softwareGrid {
  display: grid;
  grid-template-areas:
    "title title"
    "opis opis"
    "img img"
    "p p";
  gap: 10px;
  border: 1px pink solid;
  margin-left: 40px;
  margin-right: 40px;
}

#softwareTitle {
  grid-area: title;
  text-align: center;
}
#opis {
  grid-area: opis;
  text-align: center;
}
#mid,
#open {
  grid-area: img;
  width: 23vw;
}

.mid {
  width: auto;
  border: 1px solid rgb(49, 241, 255);
  margin: 20px;
}

.open {
  width: auto;
  border: 1px solid rgb(255, 49, 224);
  margin: 20px;
}
#midP,
#openP {
  grid-area: p;
  max-width: 24vw;
  margin: auto;
}

.mid,
.open {
  border-radius: 50px;
  text-align: center;

  padding: 5%;
}

@media screen and (max-width: 900px) {
  .carousel img {
    width: calc(100% / 2);
  }
}
@media screen and (max-width: 550px) {
  .carousel img {
    width: calc(100%);
  }
}

.quote-container {
  background-color: rgb(0, 0, 0, 0.7);
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  box-shadow: 0px -30px 70px rgba(0, 0, 0, 0.8),
    0px 30px 70px rgba(0, 0, 0, 0.8);
}

#quote {
  font-family: "Bad Script", cursive;
  letter-spacing: 2px;
  font-size: 25px;
}
