body {
  color: white;
}

.icons:last-child {
  right: 0;
}
.carousel-container {
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 60px;
}
.softwareGrid {
  display: grid;
  grid-template-areas:
    "title title"
    "opis opis"
    "img img"
    "p p";
  gap: 10px;
}

#softwareTitle {
  grid-area: title;
  text-align: center;
}
#opis {
  grid-area: opis;
  text-align: center;
}
#mid,
#open {
  grid-area: img;
  width: 23vw;
}

#midP,
#openP {
  grid-area: p;
  max-width: 24vw;
  margin: auto;
}

.mid,
.open {
  border-radius: 50px;
  text-align: center;

  padding: 10%;
}
.about-images {
  /* margin-top: 70px; */
}
@media screen and (max-width: 900px) {
  .carousel img {
    width: calc(100% / 2);
  }
}
@media screen and (max-width: 550px) {
  .carousel img {
    width: calc(100%);
  }
}
