@import url("https://fonts.googleapis.com/css2?family=Bad+Script&display=swap");

body {
  color: white;
}
p {
  font-size: 1.2em;
}
.icons:last-child {
  right: 0;
}
.carousel-container {
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 60px;
  z-index: 10;
}
.softwareGrid {
  display: grid;
  grid-template-areas:
    "title title"
    "opis opis"
    "img img"
    "p p";
  gap: 10px;

  margin-left: 5%;
  margin-right: 5%;
  margin-top: 130px;
  margin-bottom: 130px;
  border-radius: 20px;
}

#softwareTitle {
  grid-area: title;
  text-align: center;
  font-size: 40px;
}
#opis {
  grid-area: opis;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.438);
  padding-right: 150px;
  padding-left: 150px;
  box-shadow: 0px 0px 60px rgb(0, 0, 0);
}
#mid,
#open {
  grid-area: img;
  width: 23vw;
}

.mid {
  width: auto;
  border: 1px solid rgb(194, 251, 255);
  margin-right: 10%;
  margin-left: 20%;
  box-shadow: 0 0 30px rgb(79, 208, 251), inset 0 0 15px rgb(79, 208, 251);
}

.open {
  width: auto;
  border: 1px solid rgb(255, 197, 246);
  margin: 2%;
  margin-right: 20%;
  margin-left: 10%;
  box-shadow: 0 0 30px rgb(218, 89, 230), inset 0 0 15px rgb(218, 89, 230);
}
#midP,
#openP {
  grid-area: p;
  max-width: 24vw;
  margin: auto;
}

.mid,
.open {
  border-radius: 50px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 5%;
  margin-top: 50px;
  margin-bottom: 80px;
}

@media screen and (max-width: 900px) {
  .carousel img {
    width: calc(100% / 2);
  }
}
@media screen and (max-width: 550px) {
  .carousel img {
    width: calc(100%);
  }
}

.quote-container {
  background-color: rgb(0, 0, 0, 0.7);
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: 150px;
  margin-bottom: 150px;
  text-align: center;
  box-shadow: 0px -30px 70px rgba(0, 0, 0, 0.8),
    0px 30px 70px rgba(0, 0, 0, 0.8);
}

#quote {
  font-family: "Bad Script", cursive;
  letter-spacing: 2px;
  font-size: 1.5em;
}

.play-game {
  text-align: center;
}

.only-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
#play-para {
  margin-top: 5%;
}
#play-button {
  display: inline-block;

  font-size: 40px;

  margin-top: 60px;
  margin-bottom: 200px;
  padding: 30px;
  color: white;
  border-radius: 10%;

  cursor: pointer;

  animation: glow 4s infinite;
}
#play-button:hover {
  animation: pulse 2s infinite;
}

@keyframes glow {
  0% {
    box-shadow: 5px 5px 20px rgb(234, 0, 255), -5px -5px 20px rgb(234, 0, 255);
  }

  50% {
    box-shadow: 5px 5px 20px rgb(81, 176, 224), 5px 5px 20px rgb(81, 176, 224);
  }
  100% {
    box-shadow: 5px 5px 20px rgb(234, 0, 255), -5px -5px 20px rgb(234, 0, 255);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(234, 0, 255, 0.7), 0 0 0 0 rgba(234, 0, 255, 0.7),
      0 0 0 0 rgba(234, 0, 255, 0.7);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(234, 0, 255, 0), 0 0 0 40px rgba(234, 0, 255, 0),
      0 0 0 60px rgba(234, 0, 255, 0), 0 0 0 80px rgba(234, 0, 255, 0);
  }
}
