* {
  border: 2px white solid;
}
#ship,
#synth {
  width: 60%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.softwareGrid {
  display: grid;
  grid-template-areas:
    "title title"
    "opis opis"
    "img img"
    "p p";
  gap: 10px;
}

#softwareTitle {
  grid-area: title;
  text-align: center;
}
#opis {
  grid-area: opis;
  text-align: center;
}
#mid,
#open {
  grid-area: img;
  width: 23vw;
}

#midP,
#openP {
  grid-area: p;
  max-width: 24vw;
  margin: auto;
}

.mid,
.open {
  border-radius: 50px;
  text-align: center;

  padding: 10%;
}
