@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
body {
  background-color: black;
}

.nav a {
  font-family: "Indie Flower", cursive;

  text-decoration: inherit;
  font-size: 3.3vw;
  letter-spacing: 8px;
  margin-right: 5%;
  margin-left: 2%;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  line-height: 100px;
  text-shadow: 0 0 20px rgb(232, 13, 239), 0 0 60px rgb(248, 50, 255);
}

.nav a:hover {
  text-shadow: 0 0 70px rgb(248, 50, 255), 0 0 80px rgb(248, 50, 255),
    0 0 90px rgb(248, 50, 255), 0 0 100px rgb(248, 50, 255),
    0 0 110px rgb(248, 50, 255), 0 0 120px rgb(248, 50, 255);
}

.nav {
  text-align: center;

  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
